.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }
.pt-35 { padding-top: 35px; }
.pt-40 { padding-top: 40px; }
.pt-45 { padding-top: 45px; }
.pt-50 { padding-top: 50px; }
.pt-55 { padding-top: 55px; }
.pt-60 { padding-top: 60px; }
.pt-65 { padding-top: 65px; }
.pt-70 { padding-top: 70px; }
.pt-75 { padding-top: 75px; }
.pt-80 { padding-top: 80px; }
.pt-85 { padding-top: 85px; }
.pt-90 { padding-top: 90px; }
.pt-95 { padding-top: 95px; }
.pt-100 { padding-top: 100px; }
.pt-105 { padding-top: 105px; }
.pt-110 { padding-top: 110px; }
.pt-115 { padding-top: 115px; }
.pt-120 { padding-top: 120px; }
.pt-125 { padding-top: 125px; }
.pt-130 { padding-top: 130px; }
.pt-135 { padding-top: 135px; }
.pt-140 { padding-top: 140px; }
.pt-145 { padding-top: 145px; }
.pt-150 { padding-top: 150px; }


// padding bottom er jonne 

.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }
.pb-35 { padding-bottom: 35px; }
.pb-40 { padding-bottom: 40px; }
.pb-45 { padding-bottom: 45px; }
.pb-50 { padding-bottom: 50px; }
.pb-55 { padding-bottom: 55px; }
.pb-60 { padding-bottom: 60px; }
.pb-65 { padding-bottom: 65px; }
.pb-70 { padding-bottom: 70px; }
.pb-75 { padding-bottom: 75px; }
.pb-80 { padding-bottom: 80px; }
.pb-85 { padding-bottom: 85px; }
.pb-90 { padding-bottom: 90px; }
.pb-95 { padding-bottom: 95px; }
.pb-100 { padding-bottom: 100px; }
.pb-105 { padding-bottom: 105px; }
.pb-110 { padding-bottom: 110px; }
.pb-115 { padding-bottom: 115px; }
.pb-120 { padding-bottom: 120px; }
.pb-125 { padding-bottom: 125px; }
.pb-130 { padding-bottom: 130px; }
.pb-135 { padding-bottom: 135px; }
.pb-140 { padding-bottom: 140px; }
.pb-145 { padding-bottom: 145px; }
.pb-150 { padding-bottom: 150px; }
.pb-220 { padding-bottom: 220px; }


// padding top and bottom er jonne 

.py-5 { padding-top: 5px; padding-bottom: 5px; }
.py-10 { padding-top: 10px; padding-bottom: 10px; }
.py-15 { padding-top: 15px; padding-bottom: 15px; }
.py-20 { padding-top: 20px; padding-bottom: 20px; }
.py-25 { padding-top: 25px; padding-bottom: 25px; }
.py-30 { padding-top: 30px; padding-bottom: 30px; }
.py-35 { padding-top: 35px; padding-bottom: 35px; }
.py-40 { padding-top: 40px; padding-bottom: 40px; }
.py-45 { padding-top: 45px; padding-bottom: 45px; }
.py-50 { padding-top: 50px; padding-bottom: 50px; }
.py-55 { padding-top: 55px; padding-bottom: 55px; }
.py-60 { padding-top: 60px; padding-bottom: 60px; }
.py-65 { padding-top: 65px; padding-bottom: 65px; }
.py-70 { padding-top: 70px; padding-bottom: 70px; }
.py-75 { padding-top: 75px; padding-bottom: 75px; }
.py-80 { padding-top: 80px; padding-bottom: 80px; }
.py-85 { padding-top: 85px; padding-bottom: 85px; }
.py-90 { padding-top: 90px; padding-bottom: 90px; }
.py-95 { padding-top: 95px; padding-bottom: 95px; }
.py-100 { padding-top: 100px; padding-bottom: 100px; }
.py-105 { padding-top: 105px; padding-bottom: 105px; }
.py-110 { padding-top: 110px; padding-bottom: 110px; }
.py-115 { padding-top: 115px; padding-bottom: 115px; }
.py-120 { padding-top: 120px; padding-bottom: 120px; }
.py-125 { padding-top: 125px; padding-bottom: 125px; }
.py-130 { padding-top: 130px; padding-bottom: 130px; }
.py-135 { padding-top: 135px; padding-bottom: 135px; }
.py-140 { padding-top: 140px; padding-bottom: 140px; }
.py-145 { padding-top: 145px; padding-bottom: 145px; }
.py-150 { padding-top: 150px; padding-bottom: 150px; }


// margin er jonne 

// margin-right
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-45 { margin-right: 45px; }
.mr-50 { margin-right: 50px; }
.mr-55 { margin-right: 55px; }
.mr-60 { margin-right: 60px; }
.mr-65 { margin-right: 65px; }
.mr-70 { margin-right: 70px; }
.mr-75 { margin-right: 75px; }
.mr-80 { margin-right: 80px; }

// margin-left
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }
.ml-45 { margin-left: 45px; }
.ml-50 { margin-left: 50px; }
.ml-55 { margin-left: 55px; }
.ml-60 { margin-left: 60px; }
.ml-65 { margin-left: 65px; }
.ml-70 { margin-left: 70px; }
.ml-75 { margin-left: 75px; }
.ml-80 { margin-left: 80px; }


// margin-top 
.mt-1 { margin-top: 1px; }
.mt-2 { margin-top: 2px; }
.mt-3 { margin-top: 3px; }
.mt-4 { margin-top: 4px; }
.mt-5 { margin-top: 5px; }
.mt-6 { margin-top: 6px; }
.mt-7 { margin-top: 7px; }
.mt-8 { margin-top: 8px; }
.mt-9 { margin-top: 9px; }
.mt-10 { margin-top: 10px; }
.mt-11 { margin-top: 11px; }
.mt-12 { margin-top: 12px; }
.mt-13 { margin-top: 13px; }
.mt-14 { margin-top: 14px; }
.mt-15 { margin-top: 15px; }
.mt-16 { margin-top: 16px; }
.mt-17 { margin-top: 17px; }
.mt-18 { margin-top: 18px; }
.mt-19 { margin-top: 19px; }
.mt-20 { margin-top: 20px; }
.mt-21 { margin-top: 21px; }
.mt-22 { margin-top: 22px; }
.mt-23 { margin-top: 23px; }
.mt-24 { margin-top: 24px; }
.mt-25 { margin-top: 25px; }
.mt-26 { margin-top: 26px; }
.mt-27 { margin-top: 27px; }
.mt-28 { margin-top: 28px; }
.mt-29 { margin-top: 29px; }
.mt-30 { margin-top: 30px; }

// margin-bottom 
.mb-1 { margin-bottom: 1px; }
.mb-2 { margin-bottom: 2px; }
.mb-3 { margin-bottom: 3px; }
.mb-4 { margin-bottom: 4px; }
.mb-5 { margin-bottom: 5px; }
.mb-6 { margin-bottom: 6px; }
.mb-7 { margin-bottom: 7px; }
.mb-8 { margin-bottom: 8px; }
.mb-9 { margin-bottom: 9px; }
.mb-10 { margin-bottom: 10px; }
.mb-11 { margin-bottom: 11px; }
.mb-12 { margin-bottom: 12px; }
.mb-13 { margin-bottom: 13px; }
.mb-14 { margin-bottom: 14px; }
.mb-15 { margin-bottom: 15px; }
.mb-16 { margin-bottom: 16px; }
.mb-17 { margin-bottom: 17px; }
.mb-18 { margin-bottom: 18px; }
.mb-19 { margin-bottom: 19px; }
.mb-20 { margin-bottom: 20px; }
.mb-21 { margin-bottom: 21px; }
.mb-22 { margin-bottom: 22px; }
.mb-23 { margin-bottom: 23px; }
.mb-24 { margin-bottom: 24px; }
.mb-25 { margin-bottom: 25px; }
.mb-26 { margin-bottom: 26px; }
.mb-27 { margin-bottom: 27px; }
.mb-28 { margin-bottom: 28px; }
.mb-29 { margin-bottom: 29px; }
.mb-40 { margin-bottom: 40px;}
.mb-30 { margin-bottom: 30px; }
.mb-60{margin-bottom: 60px;}


@media only screen and (min-width:0px) and (max-width:567px)  {
    .pt-sm-5 { padding-top: 5px; }
    .pt-sm-10 { padding-top: 10px; }
    .pt-sm-15 { padding-top: 15px; }
    .pt-sm-20 { padding-top: 20px; }
    .pt-sm-25 { padding-top: 25px; }
    .pt-sm-30 { padding-top: 30px; }
    .pt-sm-35 { padding-top: 35px; }
    .pt-sm-40 { padding-top: 40px; }
    .pt-sm-45 { padding-top: 45px; }
    .pt-sm-50 { padding-top: 50px; }
    .pt-sm-55 { padding-top: 55px; }
    .pt-sm-60 { padding-top: 60px; }
    .pt-sm-65 { padding-top: 65px; }
    .pt-sm-70 { padding-top: 70px; }
    .pt-sm-75 { padding-top: 75px; }
    .pt-sm-80 { padding-top: 80px; }
    // padding-bottom
    .pb-sm-5 { padding-bottom: 5px; }
    .pb-sm-10 { padding-bottom: 10px; }
    .pb-sm-15 { padding-bottom: 15px; }
    .pb-sm-20 { padding-bottom: 20px; }
    .pb-sm-25 { padding-bottom: 25px; }
    .pb-sm-30 { padding-bottom: 30px; }
    .pb-sm-35 { padding-bottom: 35px; }
    .pb-sm-40 { padding-bottom: 40px; }
    .pb-sm-45 { padding-bottom: 45px; }
    .pb-sm-50 { padding-bottom: 50px; }
    .pb-sm-55 { padding-bottom: 55px; }
    .pb-sm-60 { padding-bottom: 60px; }
    .pb-sm-65 { padding-bottom: 65px; }
    .pb-sm-70 { padding-bottom: 70px; }
    .pb-sm-75 { padding-bottom: 75px; }
    .pb-sm-80 { padding-bottom: 80px; }

    // pt and pb
    .py-sm-5 { padding-top: 5px; padding-bottom: 5px; }
    .py-sm-10 { padding-top: 10px; padding-bottom: 10px; }
    .py-sm-15 { padding-top: 15px; padding-bottom: 15px; }
    .py-sm-20 { padding-top: 20px; padding-bottom: 20px; }
    .py-sm-25 { padding-top: 25px; padding-bottom: 25px; }
    .py-sm-30 { padding-top: 30px; padding-bottom: 30px; }
    .py-sm-35 { padding-top: 35px; padding-bottom: 35px; }
    .py-sm-40 { padding-top: 40px; padding-bottom: 40px; }
    .py-sm-45 { padding-top: 45px; padding-bottom: 45px; }
    .py-sm-50 { padding-top: 50px; padding-bottom: 50px; }
    .py-sm-55 { padding-top: 55px; padding-bottom: 55px; }
    .py-sm-60 { padding-top: 60px; padding-bottom: 60px; }
    .py-sm-65 { padding-top: 65px; padding-bottom: 65px; }
    .py-sm-70 { padding-top: 70px; padding-bottom: 70px; }
    .py-sm-75 { padding-top: 75px; padding-bottom: 75px; }
    .py-sm-80 { padding-top: 80px; padding-bottom: 80px; }

}

@media only screen and (min-width:567px) and (max-width:991px)  {
    .py-sm-5 { padding-top: 5px; padding-bottom: 5px; }
    .py-sm-10 { padding-top: 10px; padding-bottom: 10px; }
    .py-sm-15 { padding-top: 15px; padding-bottom: 15px; }
    .py-sm-20 { padding-top: 20px; padding-bottom: 20px; }
    .py-sm-25 { padding-top: 25px; padding-bottom: 25px; }
    .py-sm-30 { padding-top: 30px; padding-bottom: 30px; }
    .py-sm-35 { padding-top: 35px; padding-bottom: 35px; }
    .py-sm-40 { padding-top: 40px; padding-bottom: 40px; }
    .py-sm-45 { padding-top: 45px; padding-bottom: 45px; }
    .py-sm-50 { padding-top: 50px; padding-bottom: 50px; }
    .py-sm-55 { padding-top: 55px; padding-bottom: 55px; }
    .py-sm-60 { padding-top: 60px; padding-bottom: 60px; }
    .py-sm-65 { padding-top: 65px; padding-bottom: 65px; }
    .py-sm-70 { padding-top: 70px; padding-bottom: 70px; }
    .py-sm-75 { padding-top: 75px; padding-bottom: 75px; }
    .py-sm-80 { padding-top: 80px; padding-bottom: 80px; }
    .py-sm-85 { padding-top: 85px; padding-bottom: 85px; }
    .py-sm-90 { padding-top: 90px; padding-bottom: 90px; }
    .py-sm-95 { padding-top: 80px; padding-bottom: 80px; }
    .py-sm-100 { padding-top: 80px; padding-bottom: 80px; }
    .py-sm-105 { padding-top: 80px; padding-bottom: 80px; }
    .py-sm-110 { padding-top: 80px; padding-bottom: 80px; }
}

