@mixin thm-btn{
    .thm-btn {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none !important;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      padding: 16px 30px;
      text-transform: uppercase;
      font-family: "Albert Sans", sans-serif;
      overflow: hidden;
      transition: all 0.5s linear;
      z-index: 1;
      border-radius: 20px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $white;
        transform: scalex(0.0);
        transform-origin: center;
        transform-style: preserve-3d;
        -webkit-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;
        transform-origin: left center;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $black;
        transform: scaleY(0.0);
        transform-origin: center;
        transform-style: preserve-3d;
        -webkit-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;
        transform-origin: right center;
        z-index: -1;
      }
      &:hover:before {
        transform: scalex(1.0);
        transform-origin: left center;
        transition-delay: 200ms;
      }
      &:hover:after {
        transform: scaleY(1.0);
        transform-origin: right center;
        transition-delay: 200ms;
      }
      &:hover {
        color: $white;
      }
    } 
  }