.section-title {
    h6{
        position: relative;
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
        margin-left: 55px;
        font-size: 18px;
        &::before{ 
            position: absolute;
            right: 100%;
            width: 50px;
            height: 1px;
            content: "";
            background: $primary-color;
        }
    }
    .button-syle-one{
        @include thm-btn;
        background: $primary-color;
        color: $p2-clr;
        border-radius: 20px;
        display: inline-block;
    }

}